<div class="footer-section py-3">
  <div id="particles-js-4"></div>
  <div class="social-footer-inner">
    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 text-align-center">
        <p class="all-rights-reserved mt-5">Copyright &copy; 2018 Aqueduct Inc. All Rights Reserved.</p>
        <!-- <p class="all-rights-reserved mt-5">Copyright &copy; 2018 Aqueduct Inc. All Rights Reserved. Designed and Built by <a class="all-rights-reserved-link" href="https://www.kasuriagroup.com/" target="_blank">Kasuria Group</a></p> -->
      </div>
      <div class="col-lg-2"></div>
    </div>
  </div>
</div>