label {
  color: #818f84;
}

.whitepaper-form-header {
  color: #354948;
}

.whitepaper-form-paragraph {
  // color: #8E9C8F;
  color: #A8BCB9;
  font-size: 18px;
  font-weight: 300;
}

input::placeholder {
  color: #A8BCB9;
}

input::-moz-placeholder {
  color: #A8BCB9;
}

input::-webkit-input-placeholder {
  color: #A8BCB9;
}