<nav class="navbar navbar-expand-lg navbar-light transparent-background">
  <a class="navbar-brand aqueduct-branding" routerLink="/home">Aqueduct</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active navbar-link-item">
        <!-- <div class="nav-link navbar-link-item" (click)="scrollToPageSection('who-we-are')">Our Mission</div> -->
        <div class="nav-link navbar-link-item" (click)="navigateToHomePage('who-we-are')">Our Mission</div>
      </li>
      <li class="nav-item navbar-link-item">
        <!-- <div class="nav-link navbar-link-item" (click)="scrollToPageSection('how-we-help')">How We Help</div> -->
        <div class="nav-link navbar-link-item" (click)="navigateToHomePage('how-we-help')">How We Help</div>
      </li>
      <li class="nav-item navbar-link-item">
        <!-- <div class="nav-link navbar-link-item" (click)="scrollToPageSection('how-it-works')">How It Works</div> -->
        <div class="nav-link navbar-link-item" (click)="navigateToHomePage('how-it-works')">How It Works</div>
      </li>
      <li class="nav-item navbar-link-item">
        <div class="nav-link navbar-link-item" (click)="navigateToBlog()">Our Blog</div>
      </li>
    </ul>
  </div>
</nav>