.aqueduct-branding {
  text-transform: uppercase !important;
  color: #354948 !important;
  font-size: 36px !important;
  letter-spacing: 9px !important;
  padding: 1rem 1rem !important;
}

.transparent-background {
  background-color: transparent !important;
}

.navbar-link-item {
  text-transform: uppercase !important;
  color: #A6B5B2 !important;
  font-size: 20px !important;
  letter-spacing: 2.4px !important;
  padding: 1rem 1rem !important;
}