<h4 class="text-align-center consultation-form-header">Free Consultation with Aqueduct</h4>
<form [formGroup]="consultationForm" (ngSubmit)="submitConsultationForm()">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="consultFirstName">First Name</label>
      <input type="text" class="form-control" id="consultFirstName" placeholder="First Name" formControlName="consultFirstName">
    </div>
    <div class="form-group col-md-6">
      <label for="consultLastName">Last Name</label>
      <input type="text" class="form-control" id="consultLastName" placeholder="Last Name" formControlName="consultLastName">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="consultEmailAddress">Email Address</label>
      <input type="email" class="form-control" id="consultEmailAddress" placeholder="Email Address" formControlName="consultEmailAddress">
    </div>
    <div class="form-group col-md-6">
      <label for="consultFirmName">Company or Organization</label>
      <input type="text" class="form-control" id="consultFirmName" placeholder="Company or Organization" formControlName="consultOrgName">
    </div>
  </div>
  <!-- <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div> -->
  <button type="submit" class="schedule-consultation-button p-2">Submit</button>
</form>