label {
  color: #818f84;
}

.consultation-form-header {
  color: #354948;
}

input::placeholder {
  color: #A8BCB9;
}

input::-moz-placeholder {
  color: #A8BCB9;
}

input::-webkit-input-placeholder {
  color: #A8BCB9;
}