/* this file will be extracted to main dist folder and is imported in index.html */
/* This file is for setting global styles  */
@import 'variables';
@import url("https://use.typekit.net/mpg2ijp.css");
@import '~bootstrap/scss/bootstrap.scss';
@import 'apple_devices';
@import 'devices.min.css';
@import "~ngx-smart-modal/ngx-smart-modal";
@import "~ngx-toastr/toastr.css";
@import url("https://use.fontawesome.com/releases/v5.0.13/css/all.css");

body {
  margin: 0;
  font-family: soleil, sans-serif !important;
  font-style: normal;
  font-weight: 400;
}

.text-align-center {
  text-align: center;
}

.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}

section {
  min-height: 100vh;
}

#particles-js {
  width: 100%;
  height: 100%;
  position: absolute;
}

#particles-js-2 {
  width: 100%;
  height: 100%;
  position: absolute;
}

#particles-js-3 {
  width: 100%;
  height: 100%;
  position: absolute;
}

#particles-js-4 {
  width: 100%;
  height: 25%;
  position: absolute;
}

#particles-js-5 {
  width: 100%;
  height: 100%;
  position: absolute;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

body.dialog-open ngx-smart-modal {
  position: fixed !important;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll !important;
}

body.dialog-open {
  overflow: scroll !important;
}

.overlay {
  overflow-y: scroll !important;
  // z-index: 1040 !important;
}

// .nsm-dialog.nsm-dialog-open {
//   z-index: 1042 !important;
// }

.schedule-consultation-button {
  color: #A4BDBF;
  font-size: 18px;
  text-transform: uppercase;
  border: 2px solid #A4BDBF;
  background-color: transparent;
  -webkit-font-smoothing: subpixel-antialiased;
  cursor: pointer;
  letter-spacing: 2px;
}

.schedule-consultation-button:hover {
  color: #FFFFFF;
  background-color: #A4BDBF;
}

.see-how-button {
  color: #A4BDBF;
  font-size: 24px;
  text-transform: uppercase;
  border: 2px solid #A4BDBF;
  background-color: transparent;
  -webkit-font-smoothing: subpixel-antialiased;
  cursor: pointer;
  letter-spacing: 2px;
}

.see-how-button:hover {
  color: #FFFFFF;
  background-color: #A4BDBF;
}

.cursor-pointer {
  cursor: pointer;
}

.header-headline {
  font-size : 60px;
  letter-spacing : 3px;
  color : #A4BDBF;
  color : rgb(164, 189, 191);
  cursor: default;
}

.header-paragraph {
  font-size: 18px;
  letter-spacing: 1px;
  color: #8E9C8F;
}

.italics-font {
  font-style: italic; 
}

.profile-image {
  border-radius: 50%;
}

.social-footer-inner {
  transition: all .25s ease-in-out .1s;
}

.footer-section {
  color: rgba(255,255,255,.4);
  /* background-color: #201a16; */
  background-color: transparent;
  -webkit-font-smoothing: antialiased;
}

.all-rights-reserved {
  font-weight: 300;
  font-style: normal;
  font-size: 12px;
  letter-spacing: .5px;
  line-height: 1.6em;
  color: #888888;
}

.all-rights-reserved-link {
  font-weight: 300;
  font-style: normal;
  font-size: 12px;
  letter-spacing: .5px;
  line-height: 1.6em;
  color: #888888;
  cursor: pointer; 
}

.mobile-alignment {
  text-align: left;
}

@media (max-width: 575.98px) { 
  .header-headline {
    font-size: 48px;
  }

  .mobile-alignment {
    text-align: center;
  }
 }