<aqueduct-navbar></aqueduct-navbar>
<div class="container">
  <div class="row py-3 mt-5">
    <div class="col-12 text-center">
      <h1 class="header-headline">Farmer vs. Fish: Water Crisis in California</h1>
    </div>
  </div>
  <div class="row py-3">
    <div class="col-lg-2"></div>
    <div class="col-sm-12 col-md-12 col-lg-8">
      <p class="header-paragraph text-center">
        How the battle between environmentalists and farmers could decide the fate of water flowing through the Sacramento-San Joaquin river delta.
      </p>
    </div>
    <div class="col-lg-2"></div>
  </div>
  <div class="row py-3">
    <div class="col-lg-2"></div>
    <div class="col-sm-12 col-md-12 col-lg-8">
      <div class="text-center pb-2">
        <img src="../../assets/img/Jeff_Cropped.jpeg" height="80" width="80" class="profile-image img-fluid text-center">
      </div>
      <p class="header-paragraph text-center italics-font">
        by Jeff Pawlak
      </p>
    </div>
    <div class="col-lg-2"></div>
  </div>
  <div class="row py-3">
    <div class="col-lg-2"></div>
    <div class="col-sm-12 col-md-12 col-lg-8">
      <img src="../../assets/img/samuel-scrimshaw-166751-unsplash.jpg" class="img-fluid">
    </div>
    <div class="col-lg-2"></div>
  </div>
  <div class="row py-3 my-5">
    <div class="col-lg-2"></div>
    <div class="col-sm-12 col-md-12 col-lg-8">
      <div class="py-3">
        <p>One of the biggest things I learned when I co-founded Aqueduct is that water is a massive rabbit hole. Water is so complex and all-encompassing that you can spend all of your time researching this topic (which is basically what I do), and still feel like you’ve barely scratched the surface. Environment, economy, social justice, infrastructure, public health, geopolitics - water affects literally everything. </p>
      </div>
      <div class="py-3">
        <p>Even water issues in California alone are ridiculously challenging to untangle. With a web of regulation, groundwater rights, mega-farmers, and drought conditions, it is difficult to make sense of it all. And yet California’s ability to solve its water challenges will likely define how governments around the world similarly respond. California is ground zero for water.</p>
      </div>
      <div class="py-3">
        <p>Because I’m endlessly focused on water issues and water technology, I wanted to take the time to write a blog post about a major water controversy in California. I’m writing this for the purposes of my own research, but also to educate my fellow Californians about an issue that affects them.</p>
      </div>
      <div class="py-3">
        <p>Specifically, this post centers around a battle between environmentalists and farmers regarding the fate of water flowing through the Sacramento-San Joaquin river delta and lower San Joaquin river. For context, this is approximately fifty miles northeast of San Francisco.</p>
      </div>
      <div class="py-3">
        <p>Farmers in the San Joaquin valley, which includes Stockton, Modesto, and Merced, depend on massive diversions of water flows from this river through canals and dams to support farming industries. As much as 80% of river water is pulled out for agriculture.</p>
      </div>
      <div class="py-3">
        <p>While these diversions have supported Central Valley communities during significant droughts, the resulting lower river levels have threatened sensitive fish species. The current water diversions present a major threat to the Chinook salmon, declared a protected fish by NOAA. The California Department of Fish and Wildlife determined that 50-60% of water flows need to be retained in the river in order to protect the Chinook.</p>
      </div>
      <div class="py-3">
        <p>In response to the salmon crisis, the Water Resources Control Board recently approved a plan to reduce the amount of water removed from the river, increasing retention to 40% and river water by 747,000 acre-feet per year. In addition, the proposal raises $1.7 billion from water users and the state to support infrastructure and research to support fish habitats.</p>
      </div>
      <div class="py-3">
        <p>Farmers counter that reducing their supply of water will reduce their crop yields and damage their local economy. It is the classic debate of individual and collective economic interests versus the integrity of the commons. Furthermore, the river diversion debate symbolizes the coastal-rural tension of California politics; highly represented urban liberals versus disenfranchised inland conservatives (I’m generalizing, but it mostly accurate).</p>
      </div>
      <div class="py-3">
        <p>This is largely visible when you drive between San Francisco and Los Angeles down Route 5. Once you leave the progressive bubble of San Francisco - dotted by rainbow LBGT flags and Bernie or Hillary bumper stickers - the entire highway is filled with billboards protesting the state government’s “water grabs” or warning of an artificially created dust bowl (or during the 2016 election - Trump-Pence campaign signs). Reduced water diversions may in fact damage their livelihoods, and they are angry about it.</p>
      </div>
      <div class="py-3">
        <p>Assemblyman Adam Grey, representing Merced, chastised the proposal as “fish first philosophy” which will decimate the local region’s economy.</p>
      </div>
      <div class="py-3">
        <p>But many people strongly feel that fish species collapse is unacceptable, especially in a state like California. They argue that an entire ecosystem can be thrown out of balance without proper safeguards in place. They believe that regulators have responded accordingly to reduce diversions, even though the proposed 40% retention targets are below the 50% target that scientists recommended. They hope that these measures are enacted quickly to preserve the environment, and that ecosystem risks are mitigated.</p>
      </div>
      <div class="py-3">
        <p>I very much empathize with outcries of the farmers. They see themselves as American heroes - growing food for the entire nation. And statistically, this is entirely correct. California produces somewhere around 11.3% of agricultural revenue in the United States, or $44.7 billion. This is exported throughout the country and around the world (California essentially exports water when it sends crops like almonds or alfalfa to countries like China).</p>
      </div>
      <div class="py-3">
        <p>But we are reaching an environmental breaking point. Currently, there simply isn’t enough water to sustain both the local environment and California agricultural exports. California farmers consume around 80% of human water use. Something needs to give.</p>
      </div>
      <div class="py-3">
        <p>Farmers have a long history with droughts and water scarcity. They have always responded to water shortages with petitions for supply side engineering - building infrastructure projects to extract more water out of the environment. For example, California transports massive amounts of water from the Sierra Nevada mountains to Southern California (this channel is also visible along Route 5).</p>
      </div>
      <div class="py-3">
        <p>This has worked so far, up to a point. But realistically, there is a finite amount of water available in the environment, and continued extraction of surface and groundwater will create major environmental risks that all of society will have to deal with. In other words, by addressing only the farmer’s needs, at the expense of other legitimate uses, we might engineer our way into creating a desert for everyone. Supply side is ultimately an expensive and short-sighted approach.</p>
      </div>
      <div class="py-3">
        <p>The question is, how do we make this whole water system work for everyone? The answer is - of course - demand side engineering. Instead of trying to extract more water, we need to adopt technology that promotes conservation and reduces water waste. Even more, we need to promote widespread re-use that redirects highly treated wastewater to our agriculture.</p>
      </div>
      <div class="py-3">
        <p>Unacceptable levels of treated water leak out of California pipes every year ( known as non-revenue water) - as much as 10-25% annually. While the farmers and the environmentalists fight about the river water use, this is a problem that is rarely discussed. If we addressed our leak issues, there would be more water for all uses.</p>
      </div>
      <div class="py-3">
        <p>Farmers can implement better technology to increase crop yields while reducing water consumption. Application of IoT sensors could capture massive amounts of data regarding crop performance, and subsequent machine learning algorithms could help optimize the irrigation to yield ratio, and help farmers develop novel solutions to an age-old problem.</p>
      </div>
      <div class="py-3">
        <p>Facing prolonged droughts, which will only be exacerbated by climate change, farmers need better intelligence about the dynamics of their industry. Predictive analytics can help farmers determine the crops that will be most profitable, and the most likely to survive drought periods. Perhaps I’m being optimistic, but I’d love to see a day when farmers opt out of growing water intensive crops and switch to more sustainable ones.</p>
      </div>
      <div class="py-3">
        <p>There are a million other potential solutions to the California water scarcity issues, but they all come down to the same thing - decreasing water consumption and waste while increasing economic productivity. Without increases in efficiency, California farmers and environmentalists will continue to face off in a cage match, with zero sum stakes. But both sides need to commit to creating an abundance water economy - investing in long-term demand-side solutions that ensure that there is more than enough water for all citizens and biota.</p>
      </div>
      <div class="py-3">
        <p>The proposal from the Water Resources Control Board may have addressed concerns of environmentalists, but it left farmers unhappy. We cannot simply regulate our way out of a water crisis. California’s water situation demands technological innovation that makes life possible for both the farmers and the fish.</p>
      </div>
    </div>
    <div class="col-lg-2"></div>
  </div>
  <div class="row py-3 my-5">
    <div class="col-lg-2"></div>
    <div class="col-sm-12 col-md-12 col-lg-8 text-center">
      <p class="sharing-text">Like this article? Spread the word!</p>
      <div class="text-center">
        <button class="btn" style="color: #FFFFFF;" shareButton="twitter" [style.backgroundColor]="share.prop.twitter.color">
          <i class="fab fa-twitter pr-3" style="color: #FFFFFF;"></i>Tweet
        </button>
        <button class="btn" style="color: #FFFFFF;" shareButton="facebook" [style.backgroundColor]="share.prop.facebook.color">
          <i class="fab fa-facebook-f pr-3" style="color: #FFFFFF;"></i>Share
        </button>
      </div>
    </div>
    <div class="col-lg-2"></div>
  </div>
  <!-- <div class="row py-3 my-5">
    <div class="col-sm-12 col-md-12 col-lg-4">
      <div class="blog-post-3-card cursor-pointer" (click)="navigateToIndividualBlogPost()">
        <h4 class="py-2">Reaching Best Efficiency Points</h4>
        <p class="read-more">Read More</p>
      </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-4">
      <div class="blog-post-4-card cursor-pointer" (click)="navigateToIndividualBlogPost()">
        <h4 class="py-2">Human Health and the Wastewater Connection</h4>
        <p class="read-more">Read More</p>
      </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-4">
      <div class="blog-post-5-card cursor-pointer" (click)="navigateToIndividualBlogPost()">
        <h4 class="py-2">Machine Learning for Clean Water</h4>
        <p class="read-more">Read More</p>
      </div>
    </div>
  </div> -->
</div>
<div class="footer-section py-3">
  <div class="social-footer-inner">
    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 text-align-center">
        <p class="all-rights-reserved mt-5">Copyright &copy; 2018 Aqueduct Inc. All Rights Reserved.</p>
      </div>
      <div class="col-lg-2"></div>
    </div>
  </div>
</div>