<aqueduct-navbar></aqueduct-navbar>
<div class="container">
  <div class="row py-3 mt-5">
    <div class="col-12 text-center">
      <h1 class="header-headline">Human Health and the Wastewater Connection</h1>
    </div>
  </div>
  <div class="row py-3">
    <div class="col-lg-2"></div>
    <div class="col-sm-12 col-md-12 col-lg-8">
      <p class="header-paragraph text-center">
        Using chemicals and bacteria identified in wastewater treatment aeration tanks, communities can identify and improve patterns of their citizens' health.
      </p>
    </div>
    <div class="col-lg-2"></div>
  </div>
  <div class="row py-3">
    <div class="col-lg-2"></div>
    <div class="col-sm-12 col-md-12 col-lg-8">
      <div class="text-center pb-2">
        <img src="https://via.placeholder.com/80x80" class="profile-image img-fluid text-center">
      </div>
      <p class="header-paragraph text-center italics-font">
        by Jeff Pawlak
      </p>
    </div>
    <div class="col-lg-2"></div>
  </div>
  <div class="row py-3">
    <div class="col-lg-2"></div>
    <div class="col-sm-12 col-md-12 col-lg-8">
      <img src="../../assets/img/joel-filipe-370539-unsplash.jpg" class="img-fluid">
    </div>
    <div class="col-lg-2"></div>
  </div>
  <div class="row py-3 my-5">
    <div class="col-lg-2"></div>
    <div class="col-sm-12 col-md-12 col-lg-8">
      <div class="py-3">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam pharetra massa et ante pretium, id volutpat lectus eleifend. Nulla facilisi. Pellentesque ante leo, sollicitudin at tempor non, condimentum eu quam. Nam iaculis at magna at cursus. Aliquam lectus nulla, condimentum id iaculis non, accumsan ac odio. Aliquam egestas velit ac condimentum pulvinar. Cras eu bibendum ipsum, vel sagittis dui. Nullam efficitur tortor eget luctus vestibulum.</p>
      </div>
      <div class="py-3">
        <p>Donec et mi lacinia, pellentesque mi ut, consectetur neque. Integer bibendum tempor facilisis. Pellentesque maximus tellus eu lectus convallis vehicula in ac metus. Vestibulum in lectus ex. Donec vestibulum commodo neque, efficitur pretium enim dapibus vitae. Aliquam ac mi egestas, sodales lacus at, fringilla odio. Curabitur at augue eros. Phasellus semper feugiat consequat. Vivamus viverra, eros sed ultrices finibus, leo dui maximus magna, in imperdiet turpis magna ac urna. Sed tincidunt turpis quis lacus dictum bibendum. Aenean eu sem vel nulla interdum semper nec ut nulla.</p>
      </div>
      <div class="py-3">
        <p>Donec viverra quam sed libero sodales elementum at vitae augue. Suspendisse potenti. Quisque hendrerit sodales metus, eget hendrerit nibh condimentum quis. Nunc vitae mi interdum, lobortis quam quis, laoreet justo. Nulla vel purus eu sem vulputate mattis. Morbi mollis, lorem in mollis tempus, risus felis interdum metus, non tincidunt ante elit eu magna. Curabitur et arcu consequat, vestibulum purus in, mattis est. In gravida porttitor quam, non lobortis mi. Suspendisse potenti. Vivamus dolor turpis, ultrices commodo maximus non, fringilla in nisl. Vestibulum turpis mi, dapibus sit amet ultricies vitae, convallis eget dolor. Fusce non sem pulvinar, sodales nunc quis, iaculis neque. Aliquam ac magna et dolor vehicula aliquam id finibus turpis. Suspendisse in finibus eros. Nunc interdum sapien elit, sed aliquam tortor fringilla quis. Ut mi nunc, scelerisque et nibh sit amet, blandit interdum mauris.</p>
      </div>
      <div class="py-3">
        <p>Praesent magna mi, dictum vel vestibulum vel, aliquam et dolor. Pellentesque sit amet ante lectus. Nam fringilla arcu eget risus lobortis, eu venenatis nisl vehicula. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce eget ligula vitae diam finibus luctus a eu odio. Phasellus nec mauris congue, consectetur nulla nec, finibus eros. Nunc nec ligula ligula. Donec sed bibendum metus. Mauris bibendum scelerisque rhoncus. Aenean et dignissim elit.</p>
      </div>
      <div class="py-3">
        <p>Curabitur in lectus faucibus, scelerisque ante non, tristique eros. Morbi vulputate nisi ex. Maecenas sit amet odio purus. Morbi imperdiet libero nec erat laoreet congue. Donec pretium rhoncus mi, eget sagittis mi ornare non. Quisque commodo eleifend urna, eget eleifend mi luctus nec. Fusce hendrerit viverra quam, tempus ultrices mauris laoreet a. In condimentum vel massa eget dictum.</p>
      </div>
    </div>
    <div class="col-lg-2"></div>
  </div>
  <div class="row py-3 my-5">
    <div class="col-lg-2"></div>
    <div class="col-sm-12 col-md-12 col-lg-8 text-center">
      <p class="sharing-text">Like this article? Spread the word!</p>
      <div class="text-center">
        <!-- <button type="button" class="btn tweet-color">
          <i class="fab fa-twitter pr-3" style="color: #FFFFFF;"></i>Tweet
        </button> -->
        <!-- <button type="button" class="btn facebook-color">
          <i class="fab fa-facebook-f pr-3" style="color: #FFFFFF;"></i>Share
        </button> -->
        <button class="btn" style="color: #FFFFFF;" shareButton="twitter" [style.backgroundColor]="share.prop.twitter.color">
          <i class="fab fa-twitter pr-3" style="color: #FFFFFF;"></i>Tweet
        </button>
        <button class="btn" style="color: #FFFFFF;" shareButton="facebook" [style.backgroundColor]="share.prop.facebook.color">
          <i class="fab fa-facebook-f pr-3" style="color: #FFFFFF;"></i>Share
        </button>
      </div>
    </div>
    <div class="col-lg-2"></div>
  </div>
  <div class="row py-3 my-5">
    <div class="col-sm-12 col-md-12 col-lg-4">
      <div class="blog-post-3-card cursor-pointer" (click)="navigateToIndividualBlogPost()">
        <h4 class="py-2">Reaching Best Efficiency Points</h4>
        <p class="read-more">Read More</p>
      </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-4">
      <div class="blog-post-4-card cursor-pointer" (click)="navigateToIndividualBlogPost()">
        <h4 class="py-2">Human Health and the Wastewater Connection</h4>
        <p class="read-more">Read More</p>
      </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-4">
      <div class="blog-post-5-card cursor-pointer" (click)="navigateToIndividualBlogPost()">
        <h4 class="py-2">Machine Learning for Clean Water</h4>
        <p class="read-more">Read More</p>
      </div>
    </div>
  </div>
</div>