/*styles for home content only*/
.header-background {
  background-image: url("../../assets/img/aqueduct_header_background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.header-headline {
  font-size : 60px;
  letter-spacing : 3px;
  color : #A4BDBF;
  color : rgb(164, 189, 191);
  cursor: default;
}

.header-paragraph {
  font-size: 18px;
  letter-spacing: 1px;
  color: #8E9C8F;
}

.header-alignment {
  text-align: left;
}

.cta-alignment {
  text-align: left;
}

.white-background {
  background-color: #FFFFFF;
}

.who-we-are-header {
  letter-spacing: 3.2px;
  text-transform: uppercase;
  color: #354948;
  font-size: 36px;
  cursor: default;
}

.who-we-are-paragraph {
  color: #A8BCB9;
  font-size: 18px;
  letter-spacing: 1px;
}

.learn-more-action {
  font-weight: bold;
  font-size: 20px;
  color: #354948;
  text-transform: uppercase;
  cursor: pointer;
}

.leak-stat {
  max-width: 50%;
  height: auto;
  cursor: pointer;
}

.how-we-help-header {
  letter-spacing: 3.2px;
  text-transform: uppercase;
  color: #354948;
  font-size: 36px;
  cursor: default;
}

.how-we-help-background {
  background-image: url("../../assets/img/how-we-help-image.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.know-infrastructure-header {
  font-weight : 500;
  font-size : 24px;
  color : #354948;
  cursor: default;
}

.control-risks-background {
  background-image: url("../../assets/img/control-your-risks.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.control-risks-header {
  font-weight : 500;
  font-size : 24px;
  color : #354948;
  cursor: default;
}

.how-it-works-header {
  letter-spacing: 3.2px;
  text-transform: uppercase;
  color: #354948;
  font-size: 36px;
  cursor: default;
}

.how-it-works-card-container {
  border: 2px solid #a8bcb9;
}

.how-it-works-card-number {
  text-align: center;
  font-size: 36px;
  color: #354948;
}

.how-it-works-card-text {
  text-align: center;
  font-size: 18px;
  color: #a8bcb9;
}

.step-card-responsive {
  max-width: 70%;
  height: auto;
  cursor: pointer;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.flip-out-ver-left {
	-webkit-animation: flip-out-ver-left 0.45s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: flip-out-ver-left 0.45s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.flip-in-ver-right {
	-webkit-animation: flip-in-ver-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: flip-in-ver-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.panel {
  width: 100%;
  height: 100%;
  position: relative;
  perspective: 600px;
}

.click .front {
  cursor: pointer;
  transform: rotateY(0);
  -webkit-transform: rotateY(0);
}

.panel .front {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 900;
  width: inherit;
  height: inherit;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
}

.click .back {
  cursor: pointer;
  transform: rotateY(-180deg);
  -webkit-transform: rotateY(-180deg);
}

.panel .back {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 800;
  width: inherit;
  height: inherit;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
}

.click.flip .front {
  transform: rotateY(180deg);
}

.panel.flip .front {
  z-index: 900;
}

.click.flip .back {
  transform: rotateY(0);
}

.panel.flip .back {
  z-index: 1000;
}

@-webkit-keyframes flip-out-ver-left {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateY(-70deg);
            transform: rotateY(-70deg);
    opacity: 0;
  }
}
@keyframes flip-out-ver-left {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateY(-70deg);
            transform: rotateY(-70deg);
    opacity: 0;
  }
}

@-webkit-keyframes flip-in-ver-right {
  0% {
    -webkit-transform: rotateY(-80deg);
            transform: rotateY(-80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    opacity: 1;
  }
}
@keyframes flip-in-ver-right {
  0% {
    -webkit-transform: rotateY(-80deg);
            transform: rotateY(-80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    opacity: 1;
  }
}

@media (max-width: 575.98px) { 
  .header-headline {
    font-size: 48px;
  }

  .header-alignment {
    text-align: center;
  }

  .cta-alignment {
    text-align: center;
  }

  .see-how-button {
    color: #FFFFFF;
    font-size: 24px;
    text-transform: uppercase;
    border: 2px solid #A4BDBF;
    background-color: #A4BDBF;
    -webkit-font-smoothing: subpixel-antialiased;
    cursor: pointer;
    letter-spacing: 2px;
  }
  
  .see-how-button:hover {
    /* color: #FFFFFF;
    background-color: #A4BDBF; */
    color: #A4BDBF;
    background-color: transparent;
  }
 }