<section class="header-background" id="header">
  <aqueduct-navbar></aqueduct-navbar>
  <div class="container">
    <div class="row pt-3">
      <div class="col-lg-3"></div>
      <div class="col-sm-12 col-md-12 col-lg-9">
        <h1 class="header-headline">Saving Water.
          <br>Intelligently</h1>
      </div>
    </div>
    <div class="row pt-3">
      <div class="col-lg-3"></div>
      <div class="col-sm-12 col-md-12 col-lg-6">
        <p class="header-paragraph">
          Aqueduct uses machine learning to help water utilities improve the performance and reduce the energy consumption of their pump systems.
        </p>
      </div>
      <div class="col-lg-3"></div>
    </div>
    <div class="row pt-3">
      <div class="col-lg-3"></div>
      <div class="col-sm-12 col-md-12 col-lg-6">
        <button class="see-how-button p-3" [ngx-scroll-to]="'#how-it-works'">
          See How
        </button>
      </div>
      <div class="col-lg-3"></div>
    </div>
  </div>
</section>


<section id="who-we-are" class="white-background">
  <div id="particles-js"></div>
  <div class="container py-5">
    <div class="row py-5 align-items-center align-content-center">
      <!-- <ngx-smart-modal #whitepaperModal identifier="whitepaperModal">
        <aqueduct-whitepaper-form></aqueduct-whitepaper-form>
      </ngx-smart-modal> -->
      <div class="col-sm-12 col-md-12 col-lg-7 order-3 py-5">
        <h1 class="who-we-are-header header-alignment">
          Making the World Work
          <br> More Intelligently
        </h1>
        <p class="who-we-are-paragraph pt-4">
          Inspired by the late comprehensivist R. Buckminster Fuller, our mission is to make the world work for one-hundred percent
          of humanity. In order to accomplish this, we're starting with water.
        </p>
        <p class="who-we-are-paragraph pt-4">
          Our society is built on top of a vast amount of infrastructure that serves our drinking and wastewater needs. And yet today, this infrastructure is crumbling - the Army Corps of Engineers gave American water infrastructure straight D’s.
        </p>
        <p class="who-we-are-paragraph pt-4">
          Climate change is already a reality that threatens our water supply. Now is the time to integrate machine learning intelligence into our water infrastructure and increase the resiliency of our communities.
        </p>
        <p class="who-we-are-paragraph pt-4">
          Water pumps are an essential part of water distribution and wastewater infrastructure. We’re using machine learning and predictive analytics to help you improve the performance of and spot problems with your pumps faster.
        </p>
        <div class="learn-more-action cta-alignment pt-4" [ngx-scroll-to]="'#how-we-help'">
          Learn More
          <fa name="chevron-right" class="pl-2"></fa>
        </div>
        <!-- <div class="learn-more-action pt-4" (click)="whitepaperModal.open()">
          Our Whitepaper
          <fa name="chevron-right" class="pl-2"></fa>
        </div> -->
      </div>
      <div class="col-lg-5 order-2 order-md-12 text-align-center py-5">
        <!-- <img src="../../assets/img/aqueduct_stat_10.png" class="leak-stat float-md-right"> -->
        <img *ngIf="!statFlipped" [class.flip-out-ver-left]="statFlipped" [class.flip-in-ver-right]="!statFlipped" src="../../assets/img/aqueduct_stat_10.png"
          class="leak-stat float-md-right" (click)="flipStat()">
        <img *ngIf="statFlipped" [class.flip-out-ver-left]="!statFlipped" [class.flip-in-ver-right]="statFlipped" src="../../assets/img/stat_source.png"
          class="leak-stat float-md-right" (click)="flipStat()">
      </div>
    </div>
  </div>
</section>


<section id="how-we-help" class="white-background">
  <div id="particles-js-2"></div>
  <div class="container">
    <!-- <div class="row py-5">
      <div class="col-sm-12 col-md-12 col-lg-5">
        <h1 class="how-we-help-header">
          How We Help
        </h1>
        <p class="who-we-are-paragraph pt-4">
          Aqueduct analyzes a huge number of variables from both your available repositories and other applicable datasets and helps predict location
          of leaks, likelihood of asset failure, and more.
        </p>
        <div class="learn-more-action pt-4">
          Our Process
          <fa name="chevron-right" class="pl-2"></fa>
        </div>
      </div>
      <div class="col-lg-1"></div>
      <div class="col-lg-6 how-we-help-background p-0">
        <div class="d-flex align-items-start">
          <h1 class="know-infrastructure-header white-background py-4 px-3">
            Know Your Infrastructure
          </h1>
        </div>
      </div>
    </div> -->
    <div class="row py-3">
      <div class="col-sm-12 col-md-12 col-lg-12 header-alignment">
        <h1 class="how-we-help-header">
          How We Help
        </h1>
      </div>
    </div>
    <div class="row py-5 align-items-center">
      <div class="col-sm-12 col-md-12 col-lg-4 text-align-center order-2 order-md-1">
        <h1 class="know-infrastructure-header py-2">
          Know Your Infrastructure
        </h1>
        <p class="who-we-are-paragraph pt-2">
          Aqueduct processes the historical datasets captured from SCADA sensors for your pumps and helps detect anomalistic behavior, predict asset breakdown, and more.
        </p>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-4 text-align-center order-1 order-md-2">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 352.74" width="300" height="300">
          <defs>
            <style>
              .cls-1 {
                fill: #b0bab3;
              }

              .cls-1,
              .cls-2,
              .cls-3 {
                fill-rule: evenodd;
              }

              .cls-2 {
                fill: #354948;
              }

              .cls-3 {
                fill: #a8bcb9;
              }
            </style>
          </defs>
          <title>How_We_Help_Graphic_1</title>
          <g id="Layer_2" data-name="Layer 2">
            <g id="Features">
              <path class="cls-1" d="M155.08,352.74,300,262.35V100l-144.92,90.4V352.74Zm29.7-51.8,85.51-53.33V151.83l-85.51,53.34v95.77Z"
              />
              <path class="cls-2" d="M5.33,90.39,150.26,0,295.18,90.39l-144.92,90.4L5.33,90.39Zm56.08,0L150.26,35,239.1,90.39l-88.84,55.42L61.41,90.39Z"
              />
              <path class="cls-3" d="M145.3,190.19V352.51L0,262.35V100l145.3,90.16ZM116,204.74V301.6L29.3,247.8V151L116,204.74Z" />
              <path class="cls-2" d="M146.43,90.91c0,1.23.9,2,2.7,2.2V88.67a3.22,3.22,0,0,0-1.92.58,1.91,1.91,0,0,0-.78,1.66Z" />
              <path class="cls-2" d="M150.92,96.54v5.06a3.16,3.16,0,0,0,2.08-.73,2.31,2.31,0,0,0,.84-1.86c0-1.29-1-2.11-2.92-2.47Z" />
              <path class="cls-2" d="M155.62,70.06a.78.78,0,0,1,.21,0,64.41,64.41,0,0,0,3.56-5.65c2.72-4.72-4.06-4.7-9.12-4.7s-11.64-.12-9.22,4.7a31.46,31.46,0,0,0,3.57,5.72,1,1,0,0,1,.39-.11Z"
              />
              <path class="cls-2" d="M155.25,102.31a6.88,6.88,0,0,1-4.33,1.71v2.44h-1.79V104c-3.28-.28-5.38-1.86-6.29-4.76l2.84-.66a3.66,3.66,0,0,0,3.45,3V96.38q-3.49-.81-4.56-2a4.35,4.35,0,0,1-1.06-3c0-3,1.88-4.68,5.62-5.14v-1.9h1.79v1.9c2.74.35,4.47,1.71,5.19,4.06l-2.68.56a2.85,2.85,0,0,0-2.51-2.19v4.61a34.16,34.16,0,0,1,3.48,1.14A3.83,3.83,0,0,1,156,96a5,5,0,0,1,.72,2.7,4.85,4.85,0,0,1-1.49,3.64Zm1.63-29c-.19.89-.69,1.52-1.27,1.52H145c-.67,0-1.22-.82-1.35-1.91-7.84,4.76-14.23,16.93-14.23,26.52,0,12.19,9.32,15.57,20.82,15.57s20.82-3.38,20.82-15.57c0-9.34-6.88-21.13-14.2-26.13Z"
              />
              <path class="cls-3" d="M71.91,211A3.05,3.05,0,1,1,75,208a3.06,3.06,0,0,1-3,3.05ZM78,208a6.08,6.08,0,1,0-8.1,5.72,5.88,5.88,0,0,0,4.05,0A6.07,6.07,0,0,0,78,208Z"
              />
              <polygon class="cls-3" points="55.04 228.59 52.57 231.65 50.09 234.72 54.07 235.3 58.05 235.87 56.55 232.23 55.04 228.59 55.04 228.59"
              />
              <polygon class="cls-3" points="93.72 234.72 91.25 231.65 88.77 228.59 87.27 232.23 85.76 235.87 89.74 235.3 93.72 234.72 93.72 234.72"
              />
              <path class="cls-3" d="M92.11,238.29a7.09,7.09,0,0,0-.5-2l-1.7.24-1.68.25a4.88,4.88,0,0,1-2.07,2.56c-2.24,1.41-9.93,2.77-10.82-.07-.53-1.73-.88-11.22-1.16-19H79a1.47,1.47,0,0,0,1.43-1.5v0A1.46,1.46,0,0,0,79,217.24H74.07c0-.81-.06-1.59-.09-2.31a7.1,7.1,0,0,1-4.15,0c0,.72-.06,1.5-.09,2.32H64.81a1.47,1.47,0,0,0-1.43,1.5v0a1.47,1.47,0,0,0,1.43,1.5h4.82c-.28,7.75-.62,17.24-1.16,19-.89,2.84-8.57,1.48-10.81.07a4.9,4.9,0,0,1-2.08-2.56l-1.68-.25-1.69-.24a7.11,7.11,0,0,0-.51,2c-.34,3.82,2.87,5.73,5.94,7a22.09,22.09,0,0,0,2.65.85c4.36,1.23,8,1.94,10.55,4.93a1.4,1.4,0,0,0,2.14,0c2.52-3,6.18-3.7,10.55-4.93a20.94,20.94,0,0,0,2.65-.85c3.07-1.25,6.27-3.16,5.93-7Z"
              />
              <path class="cls-1" d="M229.52,204.5a.66.66,0,0,1-.72.6h0a.66.66,0,0,1-.72-.6v-4.31a.67.67,0,0,1,.72-.6h0a.67.67,0,0,1,.72.6v4.31Z"
              />
              <path class="cls-1" d="M214.47,211.13a.68.68,0,0,1,0,1h0a.68.68,0,0,1-.93.13l-3.2-2.88a.68.68,0,0,1,0-1h0a.68.68,0,0,1,.93-.13l3.2,2.88Z"
              />
              <path class="cls-1" d="M209.33,226.76a.66.66,0,0,1,.67.65h0a.68.68,0,0,1-.52.79l-4.29.45a.67.67,0,0,1-.67-.66h0a.68.68,0,0,1,.52-.78l4.29-.45Z"
              />
              <path class="cls-1" d="M249.55,226.92a.67.67,0,0,1-.52-.78h0a.67.67,0,0,1,.67-.66l4.29.45a.68.68,0,0,1,.52.78h0a.66.66,0,0,1-.67.66l-4.29-.45Z"
              />
              <path class="cls-1" d="M244.53,211.25a.66.66,0,0,1-.93-.13h0a.67.67,0,0,1,0-.94l3.2-2.89a.67.67,0,0,1,.93.14h0a.67.67,0,0,1,0,.94l-3.2,2.88Z"
              />
              <path class="cls-1" d="M233.62,244.08a1.4,1.4,0,0,1-.55,1.13,1.09,1.09,0,0,1-.64.21H225a1,1,0,0,1-.63-.21,1.38,1.38,0,0,1-.55-1.13v-4.16h9.76v4.16Zm-10.61-29a9.58,9.58,0,0,0-.43,15,.71.71,0,0,1,.12.94h0a.72.72,0,0,1-1.05.14,11,11,0,0,1,.5-17.26.72.72,0,0,1,1,.16h0a.71.71,0,0,1-.16,1Zm21.1,7.68a15.37,15.37,0,1,0-21.7,14v7.33a2.73,2.73,0,0,0,2.2,2.74,6,6,0,0,0,.38,1.1c.68,1.49,1.8,2.36,2.71,2.36h2.08a3.52,3.52,0,0,0,2.7-2.36,6,6,0,0,0,.38-1.1,2.73,2.73,0,0,0,2.2-2.74v-7.33a15.37,15.37,0,0,0,9.05-14Z"
              />
            </g>
          </g>
        </svg>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-4 text-align-center order-3 order-md-3">
        <h1 class="know-infrastructure-header py-2">
          Control Your Risks
        </h1>
        <p class="who-we-are-paragraph pt-2">
          Aqueduct consumes live data on your pumps, and if it detects a problem, your engineers will receive real time alerts and help them decide to take action or not.
        </p>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-4 pt-4 order-6 order-md-4">
        <div class="learn-more-action cta-alignment pt-4" (click)="openModalType('whitepaperModal')">
          Our Whitepaper
          <fa name="chevron-right" class="pl-2"></fa>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-4 text-align-center pt-4 order-4 order-md-5">
        <h1 class="know-infrastructure-header py-2">
          Positive Bottom-Line Results
        </h1>
        <p class="who-we-are-paragraph pt-2">
          With better intelligence of your assets, you can make better decisions about investing in new pumps, or deferring investment for healthy infrastructure.
        </p>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-4 pt-4 order-5 order-md-6"></div>
    </div>
    <!-- <div class="row align-items-center">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
        <ngx-smart-modal #whitepaperModal identifier="whitepaperModal">
          <aqueduct-whitepaper-form></aqueduct-whitepaper-form>
        </ngx-smart-modal>
        <div class="learn-more-action pt-4" (click)="whitepaperModal.open()">
          Our Whitepaper
          <fa name="chevron-right" class="pl-2"></fa>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-8 pt-4"></div>
    </div> -->
    <!-- <div class="row py-5">
      <div class="col-sm-12 col-md-12 col-lg-4"></div>
      <div class="col-sm-12 col-md-12 col-lg-4 text-align-center">
        <div style="font-size:0.3px;">
            <div class="marvel-device macbook">
                <div class="top-bar"></div>
                <div class="camera"></div>
                <div class="screen"></div>
                <div class="bottom-bar"></div>
            </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-4"></div>
    </div> -->
  </div>
</section>


<section id="how-it-works" class="white-background">
  <div id="particles-js-3"></div>
  <div class="container py-5">
    <div class="row py-5">
      <div class="col-sm-12 col-md-12 col-lg-5 header-alignment">
        <h1 class="how-it-works-header">
          How It Works
        </h1>
      </div>
      <div class="col-lg-1"></div>
      <div class="col-lg-6"></div>
    </div>
    <div class="row py-5">
      <div class="col-sm-12 col-md-12 col-lg-4 text-align-center py-3">
        <img *ngIf="!stepOneFlipped" [class.flip-out-ver-left]="stepOneFlipped" [class.flip-in-ver-right]="!stepOneFlipped" src="../../assets/img/step_1.png"
          class="step-card-responsive" (click)="flipFirstStep()">
        <img *ngIf="stepOneFlipped" [class.flip-out-ver-left]="!stepOneFlipped" [class.flip-in-ver-right]="stepOneFlipped" src="../../assets/img/step_1_details.png"
          class="step-card-responsive" (click)="flipFirstStep()">
      </div>
      <div class="col-sm-12 col-md-12 col-lg-4 text-align-center py-3">
        <img *ngIf="!stepTwoFlipped" [class.flip-out-ver-left]="stepTwoFlipped" [class.flip-in-ver-right]="!stepTwoFlipped" src="../../assets/img/step_2.png"
          class="step-card-responsive" (click)="flipSecondStep()">
        <img *ngIf="stepTwoFlipped" [class.flip-out-ver-left]="!stepTwoFlipped" [class.flip-in-ver-right]="stepTwoFlipped" src="../../assets/img/step_2_details.png"
          class="step-card-responsive" (click)="flipSecondStep()">
      </div>
      <div class="col-sm-12 col-md-12 col-lg-4 text-align-center pt-3">
        <img *ngIf="!stepThreeFlipped" [class.flip-out-ver-left]="stepThreeFlipped" [class.flip-in-ver-right]="!stepThreeFlipped"
          src="../../assets/img/step_3.png" class="step-card-responsive" (click)="flipThirdStep()">
        <img *ngIf="stepThreeFlipped" [class.flip-out-ver-left]="!stepThreeFlipped" [class.flip-in-ver-right]="stepThreeFlipped"
          src="../../assets/img/step_3_details.png" class="step-card-responsive" (click)="flipThirdStep()">
      </div>
      <!-- <div class="col-sm-12 col-md-12 col-lg-4 text-align-center py-3">
        <div class="click panel" [class.flip]="stepOneFlipped" (click)="flipFirstStep()">
          <div class="front" (click)="flipFirstStep()">
            <img src="../../assets/img/step_1.png" class="step-card-responsive" (click)="flipFirstStep()">
          </div>
          <div class="back" (click)="flipFirstStep()">
            <img src="../../assets/img/step_1_details.png" class="step-card-responsive" (click)="flipFirstStep()">
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-4 text-align-center py-3">
        <div class="click panel" [class.flip]="stepTwoFlipped" (click)="flipSecondStep()">
          <div class="front" (click)="flipSecondStep()">
            <img src="../../assets/img/step_2.png" class="step-card-responsive" (click)="flipSecondStep()">
          </div>
          <div class="back" (click)="flipSecondStep()">
            <img src="../../assets/img/step_2_details.png" class="step-card-responsive" (click)="flipSecondStep()">
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-4 text-align-center py-3">
        <div class="click panel" [class.flip]="stepThreeFlipped" (click)="flipThirdStep()">
          <div class="front" (click)="flipThirdStep()">
            <img src="../../assets/img/step_3.png" class="step-card-responsive" (click)="flipThirdStep()">
          </div>
          <div class="back" (click)="flipThirdStep()">
            <img src="../../assets/img/step_3_details.png" class="step-card-responsive" (click)="flipThirdStep()">
          </div>
        </div>
      </div> -->
    </div>
    <div class="row py-5">
      <div class="col-lg-4"></div>
      <div class="col-sm-12 col-md-12 col-lg-4 text-align-center">
        <button class="schedule-consultation-button p-3" (click)="openModalType('consultationModal')">
          Get Started
        </button>
      </div>
      <div class="col-lg-4"></div>
    </div>
    <aqueduct-footer></aqueduct-footer>
  </div>
</section>


<ngx-smart-modal #consultationModal identifier="consultationModal">
  <div *ngIf="modalName == 'consultationModal'">
    <aqueduct-consultation-form></aqueduct-consultation-form>
  </div>
  <div *ngIf="modalName == 'whitepaperModal'">
    <aqueduct-whitepaper-form></aqueduct-whitepaper-form>
  </div>
</ngx-smart-modal>